---
 artifactory_home: /opt/jfrog/artifactory
 artifactory_db_name: artifactory
 artifactory_db_user: artifactory
 artifactory_db_password: Password
 artifactory_version: jfrog-artifactory-oss

# defaults file for artifactory
