---
# Ensure MySQL root password is set using check_implicit_admin
- name: Ensure MySQL root user password is set
  community.mysql.mysql_user:
    name: root
    host: localhost
    password: "{{ mysql_root_password }}"
    priv: "*.*:ALL"
    state: present
    check_implicit_admin: yes
  no_log: true

# Remove anonymous users
- name: Remove anonymous MySQL users
  community.mysql.mysql_user:
    name: ""
    host_all: yes
    state: absent
    check_implicit_admin: yes
  no_log: true

# Disallow root login remotely
- name: Disallow root login remotely
  community.mysql.mysql_user:
    name: root
    host: "%"
    state: absent
    check_implicit_admin: yes
  no_log: true

# Remove the test database
- name: Remove MySQL test database
  community.mysql.mysql_db:
    name: test
    state: absent
    check_implicit_admin: yes

# Flush privileges
- name: Flush MySQL privileges
  community.mysql.mysql_user:
    name: root
    host: localhost
    state: present
    check_implicit_admin: yes

# Create application databases
- name: Ensure application databases are present
  community.mysql.mysql_db:
    name: "{{ item.name }}"
    encoding: "{{ item.encoding }}"
    collation: "{{ item.collation }}"
    state: present
    check_implicit_admin: yes
  loop: "{{ mysql_database }}"

# Create application users
- name: Ensure application users are present
  community.mysql.mysql_user:
    name: "{{ item.name }}"
    host: "{{ item.host }}"
    password: "{{ item.password }}"
    priv: "{{ item.priv }}"
    auth_plugin: "{{ item.auth_plugin | default('mysql_native_password') }}"
    state: present
    check_implicit_admin: yes
  loop: "{{ mysql_users }}"
  no_log: true

