---
- name: Ensure MySQL root user password is set
  community.mysql.mysql_user:
    name: root
    host: localhost
    password: "{{ mysql_root_password }}"
    priv: "*.*:ALL"
    state: present
    login_user: root
    login_password: "{{ mysql_root_password }}"
    check_implicit_admin: yes
  no_log: true

- name: Remove anonymous MySQL users
  community.mysql.mysql_user:
    name: ""
    host_all: yes
    state: absent
    login_user: root
    login_password: "{{ mysql_root_password }}"
  no_log: true

- name: Disallow root login remotely
  community.mysql.mysql_user:
    name: root
    host: "%"
    state: absent
    login_user: root
    login_password: "{{ mysql_root_password }}"
  no_log: true

- name: Remove MySQL test database
  community.mysql.mysql_db:
    name: test
    state: absent
    login_user: root
    login_password: "{{ mysql_root_password }}"

- name: Flush MySQL privileges
  community.mysql.mysql_user:
    name: root
    host: localhost
    state: present
    login_user: root
    login_password: "{{ mysql_root_password }}"
  delegate_to: localhost

- name: Ensure application databases are present
  community.mysql.mysql_db:
    name: "{{ item.name }}"
    encoding: "{{ item.encoding }}"
    collation: "{{ item.collation }}"
    state: present
    login_user: root
    login_password: "{{ mysql_root_password }}"
  loop: "{{ mysql_database }}"

- name: Ensure application users are present
  community.mysql.mysql_user:
    name: "{{ item.name }}"
    host: "{{ item.host }}"
    password: "{{ item.password }}"
    priv: "{{ item.priv }}"
    auth_plugin: "{{ item.auth_plugin | default('mysql_native_password') }}"
    state: present
    login_user: root
    login_password: "{{ mysql_root_password }}"
  loop: "{{ mysql_users }}"
  no_log: true

