---
# Secure MySQL installation tasks

- name: Ensure MySQL root password is set
  community.mysql.mysql_user:
    name: root
    host: localhost
    password: "{{ mysql_root_password }}"
    login_user: root
    login_password: "{{ mysql_root_password | default(omit) }}"
    check_implicit_admin: yes
    priv: "*.*:ALL"
    state: present
  no_log: true

- name: Remove anonymous MySQL users
  community.mysql.mysql_user:
    name: ""
    host_all: yes
    state: absent
    login_user: root
    login_password: "{{ mysql_root_password }}"
  ignore_errors: yes

- name: Disallow root login from remote hosts
  community.mysql.mysql_user:
    name: root
    host: "{{ item }}"
    state: absent
    login_user: root
    login_password: "{{ mysql_root_password }}"
  loop:
    - "%"
    - "{{ ansible_facts['fqdn'] | default('localhost') }}"
  ignore_errors: yes

- name: Remove test database if exists
  community.mysql.mysql_db:
    name: test
    state: absent
    login_user: root
    login_password: "{{ mysql_root_password }}"

- name: Reload privilege tables
  community.mysql.mysql_user:
    name: root
    host: localhost
    state: present
    login_user: root
    login_password: "{{ mysql_root_password }}"
    check_implicit_admin: yes

