---
# tasks file for artifactory
---
# tasks/main.yml

- name: Update and upgrade Ubuntu
  apt:
    update_cache: yes
    upgrade: dist
  become: yes

- name: Install Java JDK
  apt:
    name: openjdk-17-jdk
    state: present
  become: yes

- name: Check Java version
  command: java -version
  register: java_version
  ignore_errors: yes

- debug:
    var: java_version.stderr_lines

- name: Add JFrog GPG key
  ansible.builtin.shell: |
    curl -fsSL https://releases.jfrog.io/artifactory/api/gpg/key/public | gpg --dearmor -o /usr/share/keyrings/jfrog-public.gpg
  become: yes

- name: Add JFrog repository to APT
  ansible.builtin.shell: |
    echo "deb [signed-by=/usr/share/keyrings/jfrog-public.gpg] https://releases.jfrog.io/artifactory/artifactory-debs xenial main" | tee /etc/apt/sources.list.d/artifactory.list
  become: yes

- name: Update the repository cache after adding Artifactory repository
  ansible.builtin.apt:
    update_cache: yes
  become: yes

- name: Install JFrog Artifactory
  ansible.builtin.apt:
    name: jfrog-artifactory-oss
    state: present
  become: yes

- name: Start and enable JFrog Artifactory service
  systemd:
    name: artifactory.service
    state: started
    enabled: yes
  become: yes

- name: Verify the status of JFrog Artifactory
  command: systemctl status artifactory.service
  register: artifactory_status
  ignore_errors: yes
  become: yes

- debug:
    var: artifactory_status.stdout_lines

- name: Ensure the system.yaml file exists
  file:
    path: /opt/jfrog/artifactory/var/etc/system.yaml
    state: touch
  become: yes

# Add any additional tasks below
# - name: <task name>
#   <module>:
#     <parameters>
#   become: yes

